In [22]:
##Import neccessary librabries to make our project sucessfull
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.multioutput import MultiOutputRegressor
import numpy as np

#Load the csv file and inpect them
filepath = "Nairobi Kenya 2024-05-14 to 2025-05-14.csv"
df = pd.read_csv(filepath)

df.head()

,name,datetime,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
0,"Nairobi, Kenya",2024-05-14,77.2,61.0,68.9,77.2,61.0,68.9,58.3,70.8,...,20.2,8,10,2024-05-14T06:27:20,2024-05-14T18:30:53,0.20,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"HKJK,63741099999,HKNW,63740099999,63742099999"
1,"Nairobi, Kenya",2024-05-15,78.0,62.6,69.4,78.0,62.6,69.4,59.1,71.3,...,19.9,7,10,2024-05-15T06:27:22,2024-05-15T18:30:53,0.25,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"HKJK,63741099999,HKNW,63740099999,63742099999"
2,"Nairobi, Kenya",2024-05-16,79.6,61.0,68.4,79.6,61.0,68.4,59.5,75.1,...,18.2,7,10,2024-05-16T06:27:24,2024-05-16T18:30:53,0.27,"Rain, Partially cloudy",Partly cloudy throughout the day with late aft...,rain,"HKJK,63741099999,HKNW,63740099999,63742099999"
3,"Nairobi, Kenya",2024-05-17,78.8,60.1,68.7,78.8,60.1,68.7,60.4,76.7,...,19.1,8,10,2024-05-17T06:27:27,2024-05-17T18:30:54,0.30,"Rain, Partially cloudy",Partly cloudy throughout the day with afternoo...,rain,"HKJK,63741099999,HKNW,63740099999,63742099999"
4,"Nairobi, Kenya",2024-05-18,79.1,62.4,69.9,79.1,62.4,69.9,60.6,74.2,...,19.9,8,10,2024-05-18T06:27:31,2024-05-18T18:30:55,0.33,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"HKJK,63741099999,remote,HKNW,63740099999,63742..."

In [17]:
# Preprocess the dataset
df['datetime'] = df.to_dat

,name,datetime,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
0,"Nairobi, Kenya",2024-05-14,77.2,61.0,68.9,77.2,61.0,68.9,58.3,70.8,...,20.2,8,10,2024-05-14T06:27:20,2024-05-14T18:30:53,0.20,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"HKJK,63741099999,HKNW,63740099999,63742099999"
1,"Nairobi, Kenya",2024-05-15,78.0,62.6,69.4,78.0,62.6,69.4,59.1,71.3,...,19.9,7,10,2024-05-15T06:27:22,2024-05-15T18:30:53,0.25,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"HKJK,63741099999,HKNW,63740099999,63742099999"
2,"Nairobi, Kenya",2024-05-16,79.6,61.0,68.4,79.6,61.0,68.4,59.5,75.1,...,18.2,7,10,2024-05-16T06:27:24,2024-05-16T18:30:53,0.27,"Rain, Partially cloudy",Partly cloudy throughout the day with late aft...,rain,"HKJK,63741099999,HKNW,63740099999,63742099999"
3,"Nairobi, Kenya",2024-05-17,78.8,60.1,68.7,78.8,60.1,68.7,60.4,76.7,...,19.1,8,10,2024-05-17T06:27:27,2024-05-17T18:30:54,0.30,"Rain, Partially cloudy",Partly cloudy throughout the day with afternoo...,rain,"HKJK,63741099999,HKNW,63740099999,63742099999"
4,"Nairobi, Kenya",2024-05-18,79.1,62.4,69.9,79.1,62.4,69.9,60.6,74.2,...,19.9,8,10,2024-05-18T06:27:31,2024-05-18T18:30:55,0.33,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"HKJK,63741099999,remote,HKNW,63740099999,63742..."